@charset "UTF-8";
.fondog {
  background-color: #FFF0C9;
}

.fondo-header {
  background: url("../img/fondo1.png") no-repeat;
  background-size: cover;
}

.nav {
  margin-top: 2%;
  margin-left: 50px;
}

#ul {
  background-color: #fff;
  border-bottom: 2px solid #680808;
  width: 100%;
  /* hacemos que la cabecera ocupe el ancho completo de la página */
  left: 5px;
  /* Posicionamos la cabecera al lado izquierdo */
  top: 0;
  /* Posicionamos la cabecera pegada arriba */
  position: fixed;
  /* Hacemos que la cabecera tenga una posición fija */
}

.nav a {
  font-size: 25px;
  font-family: "Lobster Two", cursive;
  color: #680808;
  padding: 2%;
}

.nav a:hover {
  font-size: 25px;
  font-family: "Lobster Two", cursive;
  color: #FBD38B;
  text-decoration: none;
}

.presentacion img {
  width: 390px;
  padding-top: 37px;
  padding-bottom: 37px;
  margin-left: 160px;
}

.presentacion h1 {
  font-family: "Lobster Two", cursive;
  color: #680808;
  margin-top: 170px;
  font-size: 70px;
  animation-duration: 3s;
  animation-name: slidein;
}

.presentacion h2 {
  font-family: "Pontano Sans", sans-serif;
  color: #680808;
  font-size: 20px;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.fondo-content {
  border: 2px solid #680808;
  margin-top: 70px;
  margin-bottom: 70px;
  background-color: #fff;
}

.yo p {
  color: #680808;
  font-family: "Pontano Sans", sans-serif;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.img-interest img {
  width: 150px;
  border: 2px dashed #FC0037;
  border-radius: 100%;
  margin-left: 20%;
  margin-bottom: 20%;
}

.img-interest img:hover {
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
}

#efepara {
  background-attachement: fixed;
}

.fondo-content2 {
  background: url("../img/fondo2.jpg");
  background-size: contain;
}

.habilidades {
  margin-top: 4%;
  padding-bottom: 2%;
}

.habilidades img {
  width: 150px;
  opacity: 0.7;
  padding: 0;
  transition: all 2s ease-in-out;
}

.habilidades img:hover {
  width: 150px;
  opacity: 0.9;
  padding: 0;
  transform: rotate(720deg) scale(1.1);
}

.thumbnail {
  width: 200px;
  margin-right: 5%;
}

.proyect {
  margin-top: 70px;
  border: 2px solid #680808;
  padding: 2%;
  background-color: #680808;
  opacity: 0.9;
}

.proyect img {
  width: 500px;
  margin-left: 20px;
  margin-bottom: 30px;
  border: 2px solid #FBD38B;
  padding: 15px;
}

.proyect img:hover {
  width: 500px;
  margin-left: 20px;
  margin-bottom: 30px;
  border: 2px solid #FBD38B;
  padding: 15px;
}
