doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Paola Begazo:.
    link(rel="stylesheet", href="css/main.css")
    // Bootstrap Core CSS
    link(rel='stylesheet', href='css/bootstrap.min.css', type='text/css')
    // Custom Fonts
    link(href='https://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css', type='text/css')
    // Plugin CSS
    link(rel='stylesheet', href='css/animate.min.css', type='text/css')
    link(rel='stylesheet', href='animate.css', type='text/css')
    // Custom CSS
    link(rel='stylesheet', href='css/creative.css', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body.fondog
    #inicio
    header
        .container-fluid.fondo-header
            .container
                .row.nav
                    ul.list-inline.list-unstyled#ul
                        li
                            a(href="#inicio") Inicio
                        li
                            a(href="#yo") Yo
                        li
                            a(href="#habilidades") Habilidades
                        li
                            a(href="#proyectos") Proyectos
                        li
                            a(href="#contacto") Contacto
                .row.presentacion
                    .col-md-6
                        img(src="img/paola.jpg")
                    .col-md-6
                        h1.text-center Paola<br>Begazo Gonzales
                        h2.text-center Front-End Developer
    #yo
    content
        .container-fluid
            .container.fondo-content
                .row.yo
                    p.text-center Hola! soy Pao y descubrí el código gracias a Laboratoria, aunque siempre me llamó<br>la atencion el mundo de la tecnología y la programación entonces fue asi que se volvio una de mis pasiones.<br>Además de ser una coder, soy una apasionada de la comida y la cocteleria Peruana por eso también soy Chef.<br>Soy una persona positiva, me encantan los perritos y tengo muchas ganas de seguir creciendo como persona y como profesional.<br>¡VOY POR MÁS!

                .row.img-interest
                    .col-md-3
                        img(src="img/lap.png")
                    .col-md-3
                        img(src="img/dog.png")
                    .col-md-3
                        img(src="img/chef.png")
                    .col-md-3
                        img(src="img/paz.png")
    #habilidades
    content2#efepara
        .container-fluid.fondo-content2
            .container
                .row.habilidades
                    .col-md-3
                        .thumbnail
                            img(src="img/html.png")
                        .thumbnail
                            img(src="img/css.png")
                    .col-md-3
                        .thumbnail
                            img(src="img/boo.png")
                        .thumbnail
                            img(src="img/sass.png")
                    .col-md-3
                        .thumbnail
                            img(src="img/wp.png")
                        .thumbnail
                            img(src="img/angular.png")
                    .col-md-3
                        .thumbnail
                            img(src="img/js.png")
                        .thumbnail
                            img(src="img/jade.png")
    #proyectos
    content3
        .container-fluid.fondo-content3
            .container
                .row.proyect
                    .col-md-6
                        a(href="#")
                            img(src="img/akakau.png")
                        img(src="img/danza.png")
                        img(src="img/eco.png")
                    .col-md-6
                        img(src="img/flat.png")
                        img(src="img/wpp.png")
                        a(href="https://primes-paolabg.c9users.io/primes.html")
                            img(src="img/primes.png")



